#ton-connect-button button {
	background: transparent;
	box-shadow: unset;
	display: flex;
	align-items: center;
	color: var(--vt-c-purple);
	padding: 0;
}

#ton-connect-button .go1140934594 {
	color: var(--vt-c-purple) !important;
	font-size: 12px !important;
}

.go3974562317 {
	padding: 8px;
}

.go157313249 {
	min-width: unset !important;
}
